.nav {
    display: inline-flex;
    width: 1170px;
    justify-content: space-between;

    &__list {
        width: 380px;
        display: flex;
        margin: 0;
        justify-self: start;
        justify-content: space-between;
    }
    &__item {
       list-style: none;
       
    }
    &__link {
       text-decoration: none;
    }
    &__tel {
       height: 32px;
       justify-self: end;
    }
}
.logo {
    margin-left: 135px;
    width: 82px;
    height: 48px;
}

.header {

    &__subtitle {
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    }
    &__title {
        font-family: 'Oswald',sans-serif;
        font-size: 72px;
        font-weight: 400;
        max-width: 352px;
    }
    &__text {
        max-width: 370px;

    }
    &__search {
       text-decoration: none;
       font-family: 'Oswald',sans-serif;
       color: antiquewhite;
       width: 170px;
       height: 48px;
       background-color: rgb(233, 30, 30);
       border-radius: 24px;
    }
}